body {
    margin-left: 1%;
}
header {
    margin-left: 0;
}
a {
    text-decoration: none;
    color: white;
}

.container-custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}